!root {
    --text-dark: rgb(255,255,255)
}

.artist-page-top {
    height: 40vh;
    width: 100%;
    object-position: center;
    object-fit: cover;
}
.artist-page-top div span {
    color: var(--text-dark);
}